<div class="card-body">
  <div class="loading-container" *ngIf="loading">
    <div class="spinner-grow text-light loading-box" role="status">
      <img
        src="/assets/images/favicon.ico"
        style="height: 3rem; width: 3rem; align-self: center"
        alt="logo"
      />
      <span class="sr-only loading-text">Loading...</span>
    </div>
  </div>
  <google-map
    *ngIf="!loading"
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let item of markers"
      [position]="item.position"
      [label]="item.label"
      [title]="item.title"
      [options]="item.options"
      (mapClick)="openInfo(marker, item.info)"
    >
    </map-marker>
    <map-info-window style="margin-bottom: 2rem; white-space: pre-wrap">{{
      infoContent
    }}</map-info-window>
  </google-map>
</div>
