<div class="card-body">
  <div class="loading-container" *ngIf="loading">
    <div class="spinner-grow text-light loading-box" role="status">
      <img
        src="/assets/images/favicon.ico"
        style="height: 3rem; width: 3rem; align-self: center"
        alt="logo"
      />
      <span class="sr-only loading-text">Loading...</span>
    </div>
  </div>
  <google-map
    *ngIf="!loading"
    height="600px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="options"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let item of markers"
      [position]="item.position"
      [label]="item.label"
      [title]="item.title"
      [options]="item.options"
      (mapClick)="openInfo(marker, item.info)"
    >
    </map-marker>
    <map-info-window class="map-info-container" [options]="infoWindowOptions">
      <div class="map-school-selected-title">
        {{ this.schoolMapSelected?.name }}
      </div>
      <div class="map-school-selected-text">
        <b>Address:</b> {{ this.schoolMapSelected?.address }}
      </div>
      <div class="map-school-selected-text">
        <b>Phone:</b> {{ this.schoolMapSelected?.phone }}
      </div>
      <div class="map-school-selected-text pt-1">
        <a
          href="https://www.google.com/maps/search/{{
            this.schoolMapSelected?.name
          }}"
          target="_blank"
          >See in Google Maps</a
        >
      </div>
    </map-info-window>

    <ng-container *ngIf="directionsResults$ | async as directionsResults">
      <map-directions-renderer
        [directions]="directionsResults"
        [options]="mapDirectionOptions"
      ></map-directions-renderer>
    </ng-container>
  </google-map>
</div>
