<div class="container header-container flex-column">
  <div class="row">
    <div class="card col">
      <div class="card-body text-center">
        <span class="presentation-box"
          >This tool helps you to search for the schools in your neighborhood or
          near a desired location</span
        >
      </div>
    </div>
  </div>
  <div class="row justify-content-between gap-3">
    <div class="card col-md col-sm-12">
      <div class="card-body">
        <div class="d-flex gap-2 justify-content-around align-items-center">
          <div>
            <img
              src="/assets/images/favicon.ico"
              style="height: 3rem; width: auto"
              alt="logo"
            />
          </div>
          <div class="logo-text align-items-center">
            <span>BC Schools</span>
            <br />
            <span>Angular</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-9 col-sm-12 px-2">
      <div class="card-body align-items-center">
        <form>
          <div class="row d-flex justify-content-around gap-1">
            <div class="col-md-8 col-sm-12">
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="Type an address here..."
                aria-describedby="addressHelp"
                [formControl]="addressControl"
              />
              <datalist id="datalistOptions">
                <option
                  *ngFor="let item of this.listaAddress"
                  [value]="item"
                ></option>
              </datalist>
              <div id="addressHelp" class="form-text">
                For example "1455 Quebec St, Vancouver"
              </div>
            </div>
            <div class="col-md-3 col-sm-12 d-flex flex-column">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="searchAddress()"
              >
                Search Schools
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
