.header-container {
    display: flex;
    gap: 3rem;
}
.logo {
    border: 2px rgba(252, 94, 94, 0.500) solid;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(71, 71, 71);
    margin-inline: 1rem;
}
.logo-text{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: #0b5ed7;    
}