<div class="row pb-3">
  <app-table-filter
    class="p-0"
    [cities]="cityList"
    [schoolCategories]="schoolCategoryList"
    [schoolTypes]="schoolTypeList"
    [range]="range"
    [isMobile]="isMobile"
    (onChangeView)="onChangeView()"
    (onFilterSchools)="onFilterSchools($event)"
  >
  </app-table-filter>
</div>
<div class="row gap-3">
  <div *ngIf="!(mapView && isMobile)" class="card col-md col-sm-12">
    <div class="card-body">       
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <span class="content-up">School Name</span> <br />
              <span class="content-down">Address</span>
            </th>
            <th *ngIf="!mapView && !isMobile">City</th>
            <th *ngIf="!mapView && !isMobile">Grade Range</th>
            <th *ngIf="!mapView && !isMobile">Contact</th>
            <th *ngIf="mapView || isMobile">More Info</th>
            <th *ngIf="!mapView && !isMobile">School Details</th>
            <th>Travel Distance</th>
          </tr>
        </thead>              
        <tbody>
          <tr *ngIf="isLoading">
            <td colspan="100%">
              <div class="loading-container" >
                <div class="spinner-grow text-light loading-box" role="status">
                  <img
                    src="/assets/images/favicon.ico"
                    style="height: 3rem; width: 3rem; align-self: center"
                    alt="logo"
                  />
                  <span class="sr-only loading-text">Loading...</span>                
                </div>
                <span class="sr-only loading-text">If it's taking too long, try searching again</span>              
              </div>
            </td>            
          </tr>
          <tr
            *ngFor="let data of visibleData"
            (click)="setViewSchool(data)"
            [ngClass]="
              this.rowSelected?.code === data.code ? 'selected-row' : ''
            "
          >
            <td>
              <span class="content-up">{{ data.name }}</span> <br />
              <span class="content-down">{{ data.address }}</span>
            </td>
            <td *ngIf="!mapView && !isMobile">{{ data.city }}</td>
            <td *ngIf="!mapView && !isMobile">{{ data.gradeRange }}</td>
            <td class="reduced-content" *ngIf="!mapView && !isMobile">
              <b>Phone:</b> {{ data.phone }} <br />
              <b>Fax:</b> {{ data.fax }}
            </td>
            <td class="reduced-content" *ngIf="mapView || isMobile">
              <b>City:</b> {{ data.city }} <br />
              <b>Phone:</b> {{ data.phone }} <br />
              <b>Fax:</b> {{ data.fax }}
            </td>
            <td class="reduced-content" *ngIf="!mapView && !isMobile">
              {{ data.schoolTypeDesc }} <br />
              {{ data.schoolCategoryDesc }}
            </td>
            <td style="width: 17%">
              {{ data.travelDistance | number : "1.0-1" }} Km
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li
            class="page-item"
            (click)="previousPage()"
            [class.disabled]="currentPage === 1"
          >
            <a class="page-link">Previous</a>
          </li>
          <li
            class="page-item"
            *ngIf="
              getPages().slice(0)[0] !== 1 &&
              getPages().slice(0)[0] !== undefined
            "
          >
            <a class="page-link">...</a>
          </li>
          <li
            class="page-item"
            *ngFor="let page of getPages()"
            [class.active]="currentPage === page"
          >
            <a class="page-link" (click)="setPage(page)">{{ page }}</a>
          </li>
          <li
            class="page-item"
            *ngIf="
              getPages().slice(-1)[0] !== totalPages() &&
              getPages().slice(-1)[0] !== undefined
            "
          >
            <a class="page-link">...</a>
          </li>
          <li
            class="page-item"
            (click)="nextPage()"
            [class.disabled]="
              currentPage === totalPages() || totalPages() === 0
            "
          >
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
      <div class="d-flex justify-content-center">
        Showing {{ visibleData.length ? this.startIndex + 1 : 0 }} -
        {{ this.startIndex + visibleData.length }} of
        {{ dataSource.length }} results
      </div>
    </div>
  </div>
  <div
    *ngIf="mapView"
    class="card col-md-7 col-sm-12 d-flex justify-content-center"
  >
    <app-school-map
      [schoolList]="visibleData"
      [schoolSelected]="schoolSelected"
      [schoolsFiltered]="schoolsFiltered"
      [pageSelected]="pageSelected"
      [rowSelected]="rowSelected"
      [currentPosition]="currentPosition"
    ></app-school-map>
    <nav *ngIf="isMobile" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          (click)="previousPage()"
          [class.disabled]="currentPage === 1"
        >
          <a class="page-link">Previous</a>
        </li>
        <li
          class="page-item"
          *ngIf="
            getPages().slice(0)[0] !== 1 && getPages().slice(0)[0] !== undefined
          "
        >
          <a class="page-link">...</a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of getPages()"
          [class.active]="currentPage === page"
        >
          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
        </li>
        <li
          class="page-item"
          *ngIf="
            getPages().slice(-1)[0] !== totalPages() &&
            getPages().slice(-1)[0] !== undefined
          "
        >
          <a class="page-link">...</a>
        </li>
        <li
          class="page-item"
          (click)="nextPage()"
          [class.disabled]="currentPage === totalPages() || totalPages() === 0"
        >
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
