<div class="card col">
  <div
    class="card-body col-12 d-flex justify-content-center"
    [ngClass]="isMobile ? 'flex-column gap-3' : ''"
  >
    <div *ngIf="!isMobile" class="col-9 d-flex">
      <div class="col-8">
        <div class="d-flex justify-content-around">
          <app-dropdown
            class="p-0"
            [dropdownName]="'City'"
            [items]="cities"
          ></app-dropdown>
          <app-dropdown
            class="p-0"
            [dropdownName]="'School Type'"
            [items]="schoolTypes"
          ></app-dropdown>
          <app-dropdown
            class="p-0"
            [dropdownName]="'School Category'"
            [items]="schoolCategories"
          ></app-dropdown>
        </div>
        <div class="d-flex justify-content-center pt-1">
          <div class="distance-range d-flex align-items-center text-center">
            <label for="distanceRange" class="form-label px-2 w-50 mb-0"
              >Distance Range</label
            >
            <input
              type="range"
              class="form-range"
              min="1"
              max="60"
              step="1"
              id="distanceRange"
              [(ngModel)]="range"
            />
            <label for="distanceRange" class="form-label px-2 w-25 mb-0">
              {{ range }} Km</label
            >
          </div>
        </div>
      </div>
      <div class="col-4 d-flex gap-1 justify-content-evenly">
        <button
          type="button"
          (click)="filterSchools()"
          class="btn btn-success"
          style="width: 40%; min-height: 50%; height: max-content"
        >
          Filter
        </button>
        <button
          type="button"
          (click)="resetFilters()"
          class="btn btn-secondary"
          style="width: 40%; min-height: 50%; height: max-content"
        >
          Reset Filters
        </button>
      </div>
    </div>
    <div *ngIf="isMobile" class="col-md-3 col-sm-12 d-flex">
      <button
        type="button"
        class="btn btn-danger"
        style="width: 100%; min-height: 50%; height: max-content"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
      >
        See Filters
      </button>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Filters</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="d-flex flex-column align-items-center gap-4">
              <app-dropdown
                class="p-0"
                [dropdownName]="'City'"
                [items]="cities"
              ></app-dropdown>
              <app-dropdown
                class="p-0"
                [dropdownName]="'School Type'"
                [items]="schoolTypes"
              ></app-dropdown>
              <app-dropdown
                class="p-0"
                [dropdownName]="'School Category'"
                [items]="schoolCategories"
              ></app-dropdown>
              <div class="distance-range d-flex align-items-center text-center">
                <label for="distanceRange" class="form-label px-2 w-50 mb-0"
                  >Distance Range</label
                >
                <input
                  type="range"
                  class="form-range"
                  min="1"
                  max="60"
                  step="1"
                  id="distanceRange"
                  [(ngModel)]="range"
                />
                <label for="distanceRange" class="form-label px-2 w-25 mb-0">
                  {{ range }} Km</label
                >
              </div>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              data-bs-dismiss="modal"
              (click)="filterSchools()"
            >
              Apply Filters
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="resetFilters()"
            >
              Reset Filters
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 d-flex gap-3">
      <div *ngIf="!isMobile" class="vr"></div>
      <button
        *ngIf="!mapView"
        type="button"
        (click)="setMapView()"
        class="btn btn-primary"
        style="width: 100%; min-height: 50%; height: max-content"
      >
        See map view
      </button>
      <button
        *ngIf="mapView"
        type="button"
        (click)="setMapView()"
        class="btn btn-warning"
        style="width: 100%; min-height: 50%; height: max-content"
      >
        See list view
      </button>
    </div>
  </div>
</div>
