<div class="dropdown">
  <button
    class="btn btn-danger dropdown-toggle"
    type="button"
    id="multiSelectDropdown"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ dropdownName }}
  </button>
  <div class="dropdown-menu px-3" aria-labelledby="multiSelectDropdown">
    <form (click)="onDropdownClick($event)">
      <div class="form-check py-1" *ngFor="let item of items">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="item.id"
          [(ngModel)]="item.selected"
          name="selectedItems"
        />
        <label class="form-check-label" [for]="item.id">
          {{ item.value }}
        </label>
      </div>
    </form>
  </div>
</div>
